<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- Setter injection -->
    <bean class="com.component.Student" name="student1">
		<property name="id">
			<value>101</value>
		</property>
		<property name="name">
			<value>Aniket</value>
		</property>
		<property name="age">
			<value>22</value>
		</property>
		<property name="address">
			<value>Baramati</value>
		</property>
	</bean>
	
	<!-- bean2 -->
	<bean class="com.component.Student" name="student2">
		<property name="id" value="102" />
		<property name="name" value="kale"/>
		<property name="age" value="44" />
		<property name="address" value="Pune" />
	</bean>
</beans>
